PORT=3001
API_KEY=dYNcXEgHBE7InHUJUknl6CF28zIlQJt8
SYNC_INTERVAL_MS=5000
DB_TIMEZONE=America/Santiago

# cPanel source DB
CPANEL_DB_HOST=localhost
CPANEL_DB_PORT=3306
CPANEL_DB_NAME=gjabogad_abogapp
CPANEL_DB_USER=gjabogad_abogapp
CPANEL_DB_PASS=R@bula04
CPANEL_DB_SSL=true

# App target DB (set your app DB values)
APP_DB_HOST=localhost
APP_DB_PORT=3306
APP_DB_NAME=gjabogad_abogapp
APP_DB_USER=gjabogad_abogapp
APP_DB_PASS=change_me
APP_DB_SSL=true
